        
/* Legend Font Style */
body {
  font: 1em sans-serif;
  color: #4fbba9;
}

.circle {
  fill: #4fbba9;
  opacity: .5;
}

.circle:hover {
  opacity: 1;
}

#info {
  float: right;
  visibility: hidden;
  text-align: center;
  width: 20%;
}